.ExchangeRates {
  background: #eee;
  border-radius: 2px;
  border: thin solid #ccc;
  max-width: 18rem;
  position: relative;
  text-align: left;
}
.ExchangeRates-heading {
  font-size: 1.25em;
  font-weight: 500;
  left: 0;
  line-height: 1;
  margin: 0;
  padding: .75rem 1rem;
}
.ExchangeRates-content {
  max-height: 18rem;
  overflow-y: scroll;
}

.ExchangeRates table {
  border-collapse: collapse;
  width: 100%;
}
.ExchangeRates tbody tr:nth-child(odd) {
  background: #ddd;
}
.ExchangeRates th,
.ExchangeRates td {
  padding: .5rem 1rem;
}
.ExchangeRates td {
  font-family: monospace;
  font-size: 125%;
  text-align: right;
}
